*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 12px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#main{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "hdr hdr"
                        "sbr cont";
    height: 100vh;
    width: 100%;
}

/* ========================= HEADER SECTION */
.header{
    background-color: #007bff;
    grid-area: hdr;
    position: relative;
}


/* company logo */
.container-company-logo {
    position: absolute;
    left: 1%;
    top: 5px;
    bottom: 5px;
    border-right: solid 3px white;
}
.container-company-logo p{
    margin: 10px;
    color: white;
}
.container-user-info{
    position: absolute;
    left:130px;
    color: white;
    letter-spacing:2px;
}

.container-user-info .user-info-wrapper{
    margin: 10px;
}
.button-container{
    position: absolute;
    right: 2px;
}

.button-container #logout-btn{
    padding: 5px;
    margin: 10px;
    background-color: #6C757D;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: .4s;
    letter-spacing:2px;
}

.button-container #logout-btn:hover{
    background-color: #5a6268;
}
/* ============================ SIDE BAR SECTION */
.sidebar{
    background-color: #343A40;
    grid-area: sbr;
}

/* navigation */
.sidebar-nav-container .sidebar-grp-item  a {
    text-decoration: none;
    font-size: 1rem;
    color: white;

    display: grid;
    grid-template-columns: .5fr 1fr 4fr;
    height: 30px;
    
}
.sidebar-nav-container .sidebar-grp-item  a #active{
    border-left: solid 5px white;
    height: 30px;
}
.sidebar-nav-container .sidebar-grp-item  a p{
    margin: auto 0;
    letter-spacing:2px;
}

.sidebar-nav-container .sidebar-grp-item  a .icon{
    margin: auto 0;
}

.sidebar-nav-container .sidebar-grp-item{
    height: 30px;
    
    transition-duration: .2s;
}
.sidebar-nav-container .active{
    background-color: #23272b;
}
.sidebar-nav-container .sidebar-grp-item:hover{
    background-color: #23272b;
    height: 31px;
}


/* ========================== CONTENT SECTION */
.content{
    grid-area: cont;
    display: flex;
    flex-direction: column;
   background-color: #e2e6ea;
}

.content .content-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.content .content-header-container h1{
    margin: 10px;
    color: #7A7E83;
    letter-spacing:2px;
}
/*=====================date section*/
.content .content-header-container .date-container{
    background-color:#343a40;
    padding:5px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "ttime ampm" 
                        "ddate ddate";
    color:white;
    letter-spacing: 1px;
    grid-column-gap:5px;
    grid-row-gap:5px;
    width: 300px;
    padding-left: 50px;
    padding-bottom:10px;
    padding-top:10px;
}

.content .content-header-container .date-container #am_pm{
    font-size: 1rem;
    grid-area: ampm;
    margin: auto auto;
}
.content .content-header-container .date-container #idTime{
    margin: auto 0;
    grid-area: ttime;
    font-size: 2.3rem;
    height:auto;
    width: 100%;
   
}
.content .content-header-container .date-container #idDate{
    font-size: 1rem;
    margin: auto 0;
    grid-area: ddate;
}

.content-maincontent-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "usersearch userform"
                        "usertable userform";
}

/* content main containers */


/* row 0 column 0 */
.account-row-0-col-0{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area:usersearch;
}
/* row 1 column 0 */
.account-row-1-col-0{

    display: flex;
    align-items: center;
    grid-area:usertable;
}
/* row 1 column 1 */
.account-row-1-col-1{
    display: flex;
    justify-content: flex-start;
    grid-area:userform;
}



/* layout the main components */

/* search */
.account-row-0-col-0 > .account-search-wrapper{
    background-color: #fff;
    box-shadow:  0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin:20px 10px 10px 10px;   
    border:none;
    width: 100%;
    padding: 5px;

    display: flex;
    flex-direction: row;
}
.account-row-0-col-0 > .account-search-wrapper > .icon{
    padding: 5px;
    font-size:1rem;
    color: #6C757D;
}
.account-row-0-col-0 > .account-search-wrapper > #account-search-input{
    padding:5px;
    font-size:1rem;
    border: none;
    outline: none;
    width: 100%;
}


/* table */

.account-row-1-col-0 > .account-table-wrapper{
    width: 100%;
    height: 500px;
    margin: 10px;
    background-color: #fff;
    overflow: auto auto;
    
    box-shadow:  0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


.account-row-1-col-0 > .account-table-wrapper > table{
    width: 100%;
    border-collapse: collapse;
}

.account-row-1-col-0 > .account-table-wrapper > table thead{
    background-color: #343A40;
    color: #ffffff;
    letter-spacing: 1px;
    height: 30px;
}
.account-row-1-col-0 > .account-table-wrapper > table thead th, table tbody td{
    text-align: center;
    border-bottom: solid 1px #ddd;
    padding: 5px;
}

.account-row-1-col-0 > .account-table-wrapper > table > tbody tr:hover{
    background-color: #e2e6ea;
}


/* form */

.account-row-1-col-1 > form{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr;
    width: 100%;
    margin: 10px;
    
    box-shadow:  0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* form header */

.account-row-1-col-1 > form > h1{
    color: #fff;
    background-color: #343a40;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
}

.account-row-1-col-1 > form > .form-inputfield-group{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 10px 10px 10px;
    
}
.account-row-1-col-1 > form > .form-inputfield-group > label{
    margin:auto 0 auto 5px;
}
.input-field{
    padding: 2px;
    margin: 10px 0 10px 0;
    font-size: 1rem;
    outline: none;
}


.account-row-1-col-1 > form > .form-button-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}
.button-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    border:none;
    cursor: pointer;
    border-radius:3px;
    color:#fff;
    font-size: 1rem;
}

.button-group > .icon{
    margin-right: 10px;
    font-size: 1.3rem;
}


#btnInsert{
    background-color: #28a745;
    
}

#btnInsert:hover{
    background-color: #218838;
}

#btnDelete{
    background-color: #dc3545;
}
#btnDelete:hover{
    background-color: #c82333;
}

#btnEdit{
    background-color: #6c757d;
}

#btnEdit:hover{
    background-color: #5a6268;
}

#btnClear{
    background-color: #6c757d;
}

#btnClear:hover{
    background-color: #5a6268;
}

.btnSelect{
    background-color: #28a745;
    color: #fff;
    border:none;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

.btnSelect:hover{
    background-color: #218838;
}