* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  text-decoration: none;
}

.main {
  background-color: #F5F5F5;
  height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr;
      grid-template-columns: 0.5fr 2fr;
  -ms-grid-rows: 0.5fr 5fr 0.5fr;
      grid-template-rows: 0.5fr 5fr 0.5fr;
      grid-template-areas: "hd hd"  "sb mc" "sb foo";
}

body {
  height: 100vh;
  overflow: hidden;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1565c0;
}

.header :nth-child(n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .system-logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .system-logo svg {
  fill: white;
  width: 100%;
  height: 5em;
}

.header .wrapper-fa-bars {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .wrapper-fa-bars :nth-child(1) {
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin: 0 2em;
  padding: 8px;
  border-radius: 5px;
}

.header .wrapper-fa-bars :nth-child(1):hover {
  background-color: #0D47A1;
}

.header .logged-In {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logged-In :nth-child(n) {
  color: white;
  font-size: 1.7em;
  margin-right: 5px;
}

.header .logged-In :nth-child(4) {
  width: 2px;
  background-color: white;
  height: 2em;
}

.header .logged-In :nth-child(7) {
  width: 2px;
  background-color: white;
  height: 2em;
}

.header .logout {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .logout :nth-child(1) {
  color: white;
  font-size: 3em;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.header .logout :nth-child(1):hover {
  background-color: #D32F2F;
}

.sideBar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sb;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#3D84CD), to(#AAD8F1));
  background: linear-gradient(180deg, #3D84CD 0%, #AAD8F1 100%);
  height: 100%;
  width: 100%;
}

.sideBar .menu-title {
  color: white;
  font-size: 1.4em;
  margin: 20px 10px 20px 10px;
}

.sideBar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sideBar .navigation :nth-child(n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sideBar .navigation :nth-child(n) :nth-child(1) {
  width: 32px;
  height: 32px;
}

.sideBar .navigation :nth-child(n) :nth-child(1) :nth-child(1) {
  color: white;
  font-size: 15px;
}

.sideBar .navigation :nth-child(n) :nth-child(2) {
  color: white;
  font-size: 1.5em;
  margin-left: 15px;
}

.sideBar .navigation .active {
  background-color: #1565c0;
}

.sideBar .navigation :nth-child(n):hover {
  background-color: #1565c0;
}

.main-content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: mc;
  overflow-y: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1.5fr 3fr;
      grid-template-rows: 1fr 1.5fr 3fr;
}

.main-content .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .row-1 .title-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-content .row-1 .title-wrapper :nth-child(1) {
  margin: 1em;
  font-size: 3em;
  color: #78909C;
}

.main-content .row-1 .date-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content .row-1 .date-container .wrapper {
  margin: 10px;
}

.main-content .row-1 .date-container .wrapper :nth-child(n) {
  color: #1565c0;
  font-size: 1.7em;
}

.main-content .row-1 .date-container .wrapper :nth-child(1) {
  margin-right: 5px;
}

.main-content .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .row-2 .col-4-items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-content .row-2 .col-4-items :nth-child(n) {
  width: 100%;
  height: 20em;
  -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 3em;
}

.main-content .row-2 .col-4-items :nth-child(1) {
  border-top: solid 22px #1565c0;
}

.main-content .row-2 .col-4-items :nth-child(2) {
  border-top: solid 22px #FDD835;
}

.main-content .row-2 .col-4-items :nth-child(3) {
  border-top: solid 22px #388E3C;
}

.main-content .row-2 .col-4-items :nth-child(4) {
  border-top: solid 22px #D32F2F;
}

.main-content .row-3 .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .row-3 .wrapper :nth-child(n) {
  border-top: solid 22px #1565c0;
  height: 400px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 3em;
  -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: foo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1565c0;
}

.footer .copyright {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin: 10px;
}

.footer .copyright :nth-child(n) {
  margin-right: 5px;
}

.footer .copyright svg {
  fill: white;
  width: 15px;
  height: auto;
}

.footer .copyright p {
  color: white;
  font-size: 1.3em;
}

.footer .time-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
}

.footer .time-container :nth-child(n) {
  color: white;
  font-size: 1.7em;
  margin-right: 5px;
}

@-webkit-keyframes showSideBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes showSideBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes hideSideBar {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes hideSideBar {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes hideSideBarGridTemplate {
  from {
    grid-template-columns: .5fr 2fr;
  }
  to {
    grid-template-columns: 0 1fr;
  }
}

@keyframes hideSideBarGridTemplate {
  from {
    -ms-grid-columns: .5fr 2fr;
        grid-template-columns: .5fr 2fr;
  }
  to {
    -ms-grid-columns: 0 1fr;
        grid-template-columns: 0 1fr;
  }
}

@-webkit-keyframes showSideBarGridTemplate {
  from {
    grid-template-columns: 0 1fr;
  }
  to {
    grid-template-columns: .5fr 2fr;
  }
}

@keyframes showSideBarGridTemplate {
  from {
    -ms-grid-columns: 0 1fr;
        grid-template-columns: 0 1fr;
  }
  to {
    -ms-grid-columns: .5fr 2fr;
        grid-template-columns: .5fr 2fr;
  }
}
/*# sourceMappingURL=admin.css.map */