

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    /* primary colors */
    --color-primary1:#E3F2FD;
    --color-primary2:#2196F3;
    --color-primary3:#6C757D;
    --color-primary4:#DEE2E6;
    --color-primary5:#0D47A1;
    --color-primary6:#ffffff;
    --color-primary7:#E5383B;
    --color-primary8:#4ECDC4;
    --color-primary9:#FF6B6B;
    --color-primary10:#FFE66D;

    /* hover */
    --color-hover:#1E88E5;

    /* font-size */ 
    font-size: 12px;
    /* font-familly */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.main{
    height:100vh;
    width: 100%;
    
    /* gradient */
    background: linear-gradient(180deg, #1976D2 0%, rgba(33, 150, 243, 0) 100%);


    /* layout */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6.8fr;
    grid-template-areas: "area-side-bar area-header" 
                        "area-side-bar area-content";
}

/* layout-main-containers */

.header{
    grid-area: area-header;
    /* setlayout */
    display: flex;
    align-items: center;
    padding: 10px;
    /* styling */
    background-color: var(--color-primary6);
    margin: 25px;
    box-shadow:  0 1px 12px 0 rgb(0,0,0,0.2);
}
.side-bar{
    grid-area: area-side-bar;



    /* set layout */
    display:flex;
    flex-direction: column;
    align-items: center;

    /* styling */

    background-color: var(--color-primary6);
    margin: 25px;
    box-shadow:  0 1px 12px 0 rgb(0,0,0,0.5);
}
.content{
    grid-area: area-content;

    /* set layout */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* styling */
    background-color: var(--color-primary6);
    margin: 10px 25px 25px 10px;
    box-shadow: 0 1px 12px 0 rgb(0,0,0,0.5);
    overflow: auto;
    
}


/* ================= SIDE BAR ITEMS =====================*/

/* LOGO */
.logo-wrapper{
    /* set layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* styling */
    margin: 20px auto 10px auto;
    padding: 10px 10px 30px 10px;
    border-bottom: solid 1px var(--color-primary4);

}

.logo-wrapper > .logo{
    width: 50px;
    height: 50px;
    margin-right: 3px;
}

.logo-wrapper > p{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-primary2);
}


/* navigation */

.side-bar-navigation{
    /* set layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    
    /* styling */
    width: 100%;
}

.side-bar-navigation > a{
    /*set layout  */
    display: flex;
    align-items: center;
    
    /* styling */
    width: 100%;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    color: #6C757D;
}

.side-bar-navigation > a:hover{
    background-color: var(--color-primary4);
    color: var(--color-hover);
    
    transition-duration: .4s;
}
.side-bar-navigation > a:hover svg path{
    fill:var(--color-hover);
    
    transition-duration: .4s;
}
.side-bar-navigation > .sidebar-nav-group > svg{
    width: 24px;
    height: 24px;
    fill: var(--color-primary3);
}

.side-bar-navigation > .sidebar-nav-group > svg{
    margin: 0 0 0 38px;
}

.side-bar-navigation > a > p{
    margin: 0 0 0 15px;
    width: 100px;
}


/* active */
.side-bar-navigation > .active{
    color: var(--color-primary6);
    background-color: var(--color-primary2);
}

.side-bar-navigation >  .active > svg path{
    fill: var(--color-primary6);
}

.side-bar-navigation >  .active > .sidebar-location-icon{
    margin: 0 0 0 0;
}
.side-bar-navigation >  .active > svg{
    margin: 0 0 0 15px;
}

.side-bar-navigation >  .active > p {
    margin:  0 0 0 15px;
}



/* logout button */
.side-bar-logout{
    /* set layout */

    /* styling */
    width: 100%;
}

/* logout icon */
.side-bar-logout > a > svg{
    width: 24px;
    height: 24px;
    margin: 0 0 0 38px;
    fill: var(--color-primary7);
}


.side-bar-logout > a{
    /* set layout */
    display: flex;
    align-items: center;
    
    /* styling */
    
    width:100%;
    text-decoration: none;
    color: var(--color-primary3);
    font-size: 1.1rem;
    font-weight: 800;
    padding: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
}

.side-bar-logout > a > p{
    margin: 0 0 0 15px;
}
/* hover logout */
.side-bar-logout > a:hover{
    background-color: var(--color-primary4);
}

/* ================== END OF SIDE BAR ITEMS ===================*/


/* header section */

/* user-account-info */
.user-account-info{
    /* set layout */
    display: flex;
    align-items: center;
    /* styling */
    width: 100%;
    background-color: var(--color-primary1);
    border-radius: 10px;
    padding: 5px;
    border: none;
    box-shadow: 0 1px 12px 0 rgb(0,0,0,0.3);
    margin: 0 0 0 20px;
}
.user-account-info > label{
    color: var(--color-hover);
    font-weight: 600;
}
.user-account-info > p{
    margin: 0 8px 0 8px;
    color: var(--color-hover);
}

/* user icon */
.user-account-info > svg{
    width: 40px;
    height: 40px;
    margin: 0 8px 0 10px;
}

/* Date Section */

.date-time{
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.date-time-wrapper{
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;

    /* styling */
    background-color: var(--color-hover);
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    color: var(--color-primary6);
}
.date-time-wrapper > #date{
    font-size: 3rem;
}
.date-time-wrapper > #time{
    font-size: 1.5rem;
}


/* content section */

/* first row */
.row-0-col-0{
    /* set layout */
    display: flex;
    justify-content: space-evenly;
    /* styling */
    width: 100%;
    margin: 20px 0 20px 0;
}

.row-0-col-0 > .group-items{
    /* set layout */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "icons val"
                        "icons title";
    /* styling */
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 12px 0 rgb(0,0,0,0.3);
    font-size: 1.3rem;
    color: var(--color-primary3);
}

.row-0-col-0 > #daily-sales{
    border-top: solid 15px var(--color-primary2);
}
.row-0-col-0 > #stock-on-hand{
    border-top: solid 15px var(--color-primary8);
}
.row-0-col-0 > #critical-stocks{
    border-top: solid 15px var(--color-primary9);
}
.row-0-col-0 > #product-line{
    border-top: solid 15px var(--color-primary10);
}

.group-items > .icon-wrapper{
    grid-area: icons;
    border-right: solid 1px var(--color-primary4);
    margin: auto 0 auto 10px;
}
.group-items > .icon-wrapper > svg{
    /* styling */
    margin: 50% 10px 50% 0;
    width: 50px;
    height: 50px;
    fill: var(--color-primary3);
}
.group-items > .val{
    grid-area: val;
    margin-top: 30%;
    margin-left: 5px;
    font-size: 1.5em;
}

.group-items > .title-report{
    grid-area: title;
    margin-bottom:50%;
    margin-left:5px;
}

/* second row */
.row-1-col-0{
    /* set layout */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* styling */
    border: solid 2px red;
    width: 100%;

}

.row-1-item-1{
    /* set layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "chartarea chartreading";

    /* styling */
    border: solid 2px green;
}

.row-1-item-1 > .group-items{
    border: solid 2px blue;
    width: 300px;
    height: 100px;
}


.row-1-item-1-col-1{
    width: 300px;
    border: solid 2px yellow;
}


