
    $primaryColor1: #1565c0;
    $primaryColor2: #F5F5F5;
    $primaryColor3: #78909C;
    $primaryColor4: #546E7A;
    $primaryColor5: #CFD8DC;
    
    $gradientColor1: linear-gradient(180deg, #3D84CD 0%, #AAD8F1 100%);

    $textFontSize: 8px;
    $iconFontSize: 15px;

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
    font-size: $textFontSize;
    text-decoration: none;
}


.main{
    .header{
        background-color: $primaryColor1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: sticky;
        top: 0;
        .system-logo {
            flex-basis: 15%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 160px;
                height: auto;
                fill: white;
            }
            
        }

        .icon{
            color: white;
        }
        .wrapper-fa-bars{
            padding: 10px;
            .icon{
                font-size: $iconFontSize;
            }
        }

        .logged-In{
            flex: 10%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px 0 10px 10px;
            color: white;
            :nth-child(1){
                font-weight: 600;
                font-size: 1.7em;
                margin-right: 10px;
            }
            :nth-child(2){
                margin-right: 5px;
                font-size: 1.7em;
            }
            :nth-child(3){
                font-size: 1.7em;
            }
            :nth-child(5){
                margin-right: 5px;
                font-size: 1.7em;
            }
            :nth-child(6){
                font-size: 1.7em;
            }

            
            .divider{
                width: 2px;
                background-color: white;
                height: 2.5em;
                margin-right: 10px;
                margin-left: 10px;
            }
        }

        
        .logout{
            flex-basis: 2%;
            padding: 5px 10px 5px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            :nth-child(1){
                font-size: $iconFontSize;
                color: white;
            }
        }
    }
}

.main {
    .container-sideBar-mainContent{
        display: flex;
        .sideBar{
            z-index:2;
            flex-basis: 15%;
            background: $gradientColor1;
            height: calc(100vh - 10vh);
            .menu-title{
                margin:5% 0 5% 5%;
                font-size: 1.2em;
                color: white;
            }
            .navigation{
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                height: calc(100% - 30%);
                button{
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    background-color: transparent;
                    border: none;
                    margin: 1em 0 1em 0;
                    cursor: pointer;
                }
                span{
                    width: 32px;
                    margin-left: 10%;
                }
                p{
                    font-size: 1.7em;
                    color: white;
                }
                
                .icon{
                    font-size: $iconFontSize;
                    color: white;
                }
            }
            
            
        }
        
    }
}

.main {
    .container-sideBar-mainContent{
        .main-content{
            flex-basis: 85%;
            background-color: green;
        }
    }
}



.main {
    .footer{
        z-index: 1;
        background-color: $primaryColor1;
        width: 100%;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        display: flex;
        .wrapper{
            flex-basis: 75%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 15.5%;
            svg{
                width: 1.5em;
                fill: white;
                margin-right: 2px;
            }

            p{
                font-size: 1.5em;
                color: white;
                margin-right: 5px;
            }
        }

        .time-container{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            .icon{
                font-size: $iconFontSize;
                color: white;
                margin-right: 10px;
            }
            #time{

                font-size: 1.8em;
                color: white;
            }
        }
    }


   
}