* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  text-decoration: none;
}

.main .header {
  background-color: #1565c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main .header .system-logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .header .system-logo svg {
  width: 160px;
  height: auto;
  fill: white;
}

.main .header .icon {
  color: white;
}

.main .header .wrapper-fa-bars {
  padding: 10px;
}

.main .header .wrapper-fa-bars .icon {
  font-size: 15px;
}

.main .header .logged-In {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0 10px 10px;
  color: white;
}

.main .header .logged-In :nth-child(1) {
  font-weight: 600;
  font-size: 1.7em;
  margin-right: 10px;
}

.main .header .logged-In :nth-child(2) {
  margin-right: 5px;
  font-size: 1.7em;
}

.main .header .logged-In :nth-child(3) {
  font-size: 1.7em;
}

.main .header .logged-In :nth-child(5) {
  margin-right: 5px;
  font-size: 1.7em;
}

.main .header .logged-In :nth-child(6) {
  font-size: 1.7em;
}

.main .header .logged-In .divider {
  width: 2px;
  background-color: white;
  height: 2.5em;
  margin-right: 10px;
  margin-left: 10px;
}

.main .header .logout {
  -ms-flex-preferred-size: 2%;
      flex-basis: 2%;
  padding: 5px 10px 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .header .logout :nth-child(1) {
  font-size: 15px;
  color: white;
}

.main .container-sideBar-mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container-sideBar-mainContent .sideBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#3D84CD), to(#AAD8F1));
  background: linear-gradient(180deg, #3D84CD 0%, #AAD8F1 100%);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  min-width: 10%;
  width: 15%;
}

.main .container-sideBar-mainContent .sideBar .menu-title {
  margin: 50% 0 5% 5%;
  font-size: 1.2em;
  color: white;
}

.main .container-sideBar-mainContent .sideBar .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.main .container-sideBar-mainContent .sideBar .navigation button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background-color: transparent;
  border: none;
  margin: 2em 0 2em 0;
  cursor: pointer;
}

.main .container-sideBar-mainContent .sideBar .navigation span {
  width: 32px;
  margin-left: 10%;
}

.main .container-sideBar-mainContent .sideBar .navigation p {
  font-size: 1.7em;
  color: white;
}

.main .container-sideBar-mainContent .sideBar .navigation .icon {
  font-size: 15px;
  color: white;
}

.main .container-sideBar-mainContent .sideBar .time-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.main .container-sideBar-mainContent .sideBar .time-container .icon {
  font-size: 15px;
  color: #1565c0;
  margin-right: 10px;
}

.main .container-sideBar-mainContent .sideBar .time-container #time {
  font-size: 1.8em;
  color: #1565c0;
}

.main .container-sideBar-mainContent .main-content {
  z-index: -2;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: green;
  height: 100vh;
  position: relative;
}

.main .container-sideBar-mainContent .main-content .demo-content {
  border: solid 2px pink;
  height: 500px;
  position: absolute;
  right: 0;
  width: 85%;
}

.main .footer {
  background-color: #1565c0;
  width: 100%;
  z-index: -2;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
}

.main .footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .footer .wrapper svg {
  width: 1.5em;
  fill: white;
  margin-right: 2px;
}

.main .footer .wrapper p {
  font-size: 1.5em;
  color: white;
  margin-right: 5px;
}
/*# sourceMappingURL=admin.css.map */