
    $primaryColor1: #1565c0;
    $primaryColor2: #F5F5F5;
    $primaryColor3: #78909C;
    $primaryColor4: #546E7A;
    $primaryColor5: #CFD8DC;
    $primaryColor6: #FDD835;
    $primaryColor7: #388E3C;
    $primaryColor8: #D32F2F;

    $primaryShadow: 0 1px 12px 0 rgba(0,0,0,0.2);
    $gradientColor1: linear-gradient(180deg, #3D84CD 0%, #AAD8F1 100%);

    $textFontSize: 8px;
    $iconFontSize: 15px;

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
    font-size: $textFontSize;
    text-decoration: none;
}
.main{
    height: 100vh;
    overflow-y:auto;
}
.main{
    .header{
        background-color: $primaryColor1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: sticky;
        top: 0;
        .system-logo {
            flex-basis: 15%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 160px;
                height: auto;
                fill: white;
            }
            
        }

        .icon{
            color: white;
        }
        .wrapper-fa-bars{
            padding: 10px;
            .icon{
                font-size: $iconFontSize;
            }
        }

        .logged-In{
            flex: 10%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px 0 10px 10px;
            color: white;
            :nth-child(1){
                font-weight: 600;
                font-size: 1.7em;
                margin-right: 10px;
            }
            :nth-child(2){
                margin-right: 5px;
                font-size: 1.7em;
            }
            :nth-child(3){
                font-size: 1.7em;
            }
            :nth-child(5){
                margin-right: 5px;
                font-size: 1.7em;
            }
            :nth-child(6){
                font-size: 1.7em;
            }

            
            .divider{
                width: 2px;
                background-color: white;
                height: 2.5em;
                margin-right: 10px;
                margin-left: 10px;
            }
        }

        
        .logout{
            flex-basis: 2%;
            padding: 5px 10px 5px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            :nth-child(1){
                font-size: $iconFontSize;
                color: white;
            }
        }
    }
}

.main {
    .container-sideBar-mainContent{
        height: 100vh;
        .sideBar{
            width: 15vw;
            background: $gradientColor1;
            z-index: 2;
            position: fixed;
            height: 100%;
            .menu-title{
                margin:5% 0 5% 5%;
                font-size: 1.2em;
                color: white;
            }
            .navigation{
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                height: 100%;
                button{
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    background-color: transparent;
                    border: none;
                    margin: 2em 0 2em 0;
                    cursor: pointer;
                }
                span{
                    width: 32px;
                    margin-left: 10%;
                }
                p{
                    font-size: 1.7em;
                    color: white;
                }
                
                .icon{
                    font-size: $iconFontSize;
                    color: white;
                }
            }
            
            
        }
        
    }
}

.main {
    .container-sideBar-mainContent{
        .main-content{
            width: 100vw;
            height: 100vh;
            background-color: $primaryColor2;
            display: grid;
            grid-template-rows: 80px 1fr 3fr;
            grid-gap: 10px;   
            .row-1{
                grid-row: 1/2;
            }

            .row-2{
                grid-row: 2/3;
            }

            .row-3{
                grid-row: 3/4;
            }
        }
    }
}

.main {
    .container-sideBar-mainContent{
        .main-content{

            .row-1{
                margin-left: 15vw;
                display: flex;
                .title-wrapper{
                    flex-basis: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    p{
                        font-size: 3.5em;
                        margin-left: 20px;
                        color: $primaryColor3;
                    }
                }

                .date-container{
                    flex-basis: 50%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .wrapper{
                        margin-right: 25px;
                        i {
                            font-size: $iconFontSize;
                            color: $primaryColor1;
                            margin-right: 5px;
                        }

                        span{
                            font-size: 1.8em;
                            color: $primaryColor1;
                            font-weight: 600;
                        }

                    }
                }
            }
         
        }
    }
}

.main {
    .container-sideBar-mainContent{
        .main-content{
            .row-2{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 15vw;
                .col-4-items{
                    display: flex;
                    width: 100%;
                    div{
                        width: 100%;
                        height: 20em;
                        margin: 0 5em;
                    }
                }


                .col-4-items{
                    :nth-child(1){
                        border-top: solid 22px $primaryColor1;
                        border-radius: 10px;
                        box-shadow: $primaryShadow;
                    }
                    :nth-child(2){
                        border-top: solid 22px $primaryColor6;
                        border-radius: 10px;
                        box-shadow: $primaryShadow;
                    }
                    :nth-child(3){
                        border-top: solid 22px $primaryColor7;
                        border-radius: 10px;
                        box-shadow: $primaryShadow;
                    }
                    :nth-child(4){
                        border-top: solid 22px $primaryColor8;
                        border-radius: 10px;
                        box-shadow: $primaryShadow;
                    }
                }

            }
            
        
        }
    }
}

.main {
    .container-sideBar-mainContent{
        .main-content{
            .row-3{
                margin-left: 15vw;
                display: flex;
                justify-content: center;
                align-items: center;
                .wrapper{
                    display: flex;
                    width: 100%;
                }

                .wrapper > *{
                    width: 100%;
                    height: 400px;
                    border-top: solid 22px $primaryColor1;
                    margin: 0 5em;
                    border-radius: 10px;
                    box-shadow: $primaryShadow;
                }
            }
        }
    }
}

.main {
    .footer{
        z-index: 1;
        background-color: $primaryColor1;
        width: 100%;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        display: flex;
        height: 40px;
        .wrapper{
            flex-basis: 75%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 15.5%;
            svg{
                width: 1.5em;
                fill: white;
                margin-right: 2px;
            }

            p{
                font-size: 1.5em;
                color: white;
                margin-right: 5px;
            }
        }

        .time-container{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            .icon{
                font-size: $iconFontSize;
                color: white;
                margin-right: 10px;
            }
            #time{

                font-size: 1.8em;
                color: white;
            }
        }
    }


   
}