:root{
    /* primary colors */
    --color1:#DEE2E6;
    --color2:#1565C0;
    --color3:#2196F3;
    --color4:#ffffff;
    --color5:#ADB5BD;
    --color6:#6C757D;
    
    /* hover colors*/
    --colorHover1:#1E88E5;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height: 100px;
}
.icon-wrapper{
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 32px;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    image-rendering: var(--color1);
}

.group-form-textfield{
    border: solid 1px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color5);
    margin: 5px auto;
}

#username-textfield{
    width: 100%;
    padding: 5px;
    margin: auto;
    text-align: left;
    border: none;
    outline: none;
}

#password-textfield{
    width: 100%;
    padding: 5px;
    margin: auto;
    text-align: left;
    border: none;
    outline: none;
}


.group-form-items{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #1976D2 0%, rgba(33, 150, 243, 0) 100%);
}

form{
    background-color: #fff;
    border-top: solid 15px var(--color2); 
    border-radius: 10px;
    width: 380px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px 0 0 0;
    box-shadow:  0 1px 12px 0 rgb(0,0,0,0.2);
}   

#submit-button{
    width: 120px;
    background-color: var(--color3);
    cursor: pointer;
    color: var(--color4);
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    border: none;
}

#submit-button:hover{
    background-color: var(--colorHover1);
}

::placeholder{
    font-style: italic;
    color: gray;
}