:root{
    /* primary colors */
    --primary-color1: #1565c0;
    --primary-color2: #F5F5F5;
    --primary-color3: #78909C;
    --primary-color4: #546E7A;
    --primary-color5: #CFD8DC;
    --hoverColor1:#0D47A1;
    --gradient-color1: linear-gradient(180deg, #3D84CD 0%, #AAD8F1 100%);

    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.group-form-textfield > svg{
    width: 24px;
    height: auto;
    margin: 5px;
    fill: var(--primary-color5);
}

.group-form-textfield{
    border: solid 1px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.3px var(--primary-color5);
    margin: 5px auto;
}

#username-textfield{
    width: 100%;
    padding: 5px;
    margin: auto;
    text-align: left;
    border: none;
    outline: none;
}

#password-textfield{
    width: 100%;
    padding: 5px;
    margin: auto;
    text-align: left;
    border: none;
    outline: none;
}


.group-form-items{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-color1);
}

form{
    background-color: #fff;
    border-top: solid 15px var(--primary-color1); 
    border-radius: 10px;
    width: 360px;
    max-width: 360px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:  0 1px 12px 0 rgb(0,0,0,0.2);
}   

#submit-button{
    width: 120px;
    background-color: var(--primary-color1);
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    border: none;
    letter-spacing: 2px;
}

#submit-button:hover{
    background-color: var(--hoverColor1);
}

::placeholder{
    font-style: italic;
    color: gray;
}


.group-form-items > h1{
    color: var(--primary-color3);
    font-weight: 500;
    font-size: 3rem;
}


.successError{
    animation: transitionIn 1s forwards;
    border-radius: 5px;
}

@keyframes animationSuccessError {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}