
/* ============================== INSERT SECTION */
#insert-main{
  
    /* Layout Main */
    width: 800px;
    height: auto;
    margin:10px;
    box-shadow:  0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.header-insert-product{
    background-color: #6C757D;
    padding:20px;
    position: relative;
}

.header-insert-product .icon{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    padding: 5px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-align: center;
}

.header-insert-product .icon:hover{
    background-color: #c82333;

}

.header-insert-product h1{
    color: white;
    text-align: center;
}
/* ========================= FORM SECTION */
#insert-main > #insert-form {
    padding:5px;
    margin:15px;
}

#insert-main > #insert-form > .form-group{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "none save";
}
.btn-main-wrapper{
    grid-area: save;
    display: flex;
    justify-content: flex-end;
}
#insert-main > #insert-form > .form-group > .btn-main-wrapper > #btn-save-wrapper{
    background-color: #28a745;
    color: white;
    border:none;
    border-radius: 3px;
}

#insert-main > #insert-form > .form-group > .btn-main-wrapper >  #btn-save-wrapper:hover{
    background-color: #218838;
}

#insert-main > #insert-form > .form-group > .btn-main-wrapper > #btn-edit-wrapper{
    background-color: #6c757d;
    color: white;
    border:none;
    border-radius: 3px;
}

#insert-main > #insert-form > .form-group > .btn-main-wrapper > #btn-edit-wrapper:hover{
    background-color: #5a6268;
}

#insert-main > #insert-form > .form-group > .btn-main-wrapper > #btn-clear-wrapper{
    background-color: #6c757d;
    color: white;
    border:none;
    border-radius: 3px;
}

#insert-main > #insert-form > .form-group > .btn-main-wrapper > #btn-clear-wrapper:hover{
    background-color: #5a6268;
}

#insert-main > #insert-form > .form-group > .btn-main-wrapper > .btn-group-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 90px;
    font-size:1rem;
}
#insert-main > #insert-form > .form-group > .btn-main-wrapper .btn-group .icon{
    border: none;
    
}
#insert-main > #insert-form > .form-group > .btn-main-wrapper .btn-group{
    width: 100%;
    border:none;
    cursor: pointer;
    background:transparent;
    color:white;
    padding: 5px;
}

#insert-main > #insert-form > .form-group input{
    padding:5px;
    margin:5px;
}

#insert-main > #insert-form > .form-group label{
    margin: auto 0;
}
#insert-main > #insert-form > .form-group select{
    padding:5px;
    margin:5px;
}

