$primaryColor1: #1565c0;
$primaryColor2: #F5F5F5;
$primaryColor3: #78909C;
$primaryColor4: #546E7A;
$primaryColor5: #CFD8DC;
$primaryColor6: #FDD835;
$primaryColor7: #388E3C;
$primaryColor8: #D32F2F;

$primaryColor9: #69F0AE;
$primaryColor10: #00E676;
// hover
$hoverColor1:#0D47A1;
$primaryShadow: 0 1px 12px 0 rgba(0,0,0,0.2);
$gradientColor1: linear-gradient(180deg, #3D84CD 0%, #AAD8F1 100%);

$textFontSize: 8px;
$iconFontSize: 15px;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
    font-size: $textFontSize;
    text-decoration: none;
}
.main{
    
    background-color: $primaryColor2;
    height: 100%;
    overflow:hidden;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 5fr 0.5fr;
    grid-template-areas: "hd hd" 
                        "sb mc"
                        "sb foo";
}

body{
    height: 100vh;
    overflow: hidden;
}

.header{
    grid-area: hd;

    // layout
    display: flex;
    background-color: $primaryColor1;

    :nth-child(n){
        display: flex;
    }

    .system-logo{
        flex-basis: 20%;
        align-items: center;
        justify-content: center;
        svg{
            fill: white;
            width: 100%;
            height: 5em;
        }
    }

    .wrapper-fa-bars{
        align-items: center;
        position: relative;
        :nth-child(1){
            color: white;
            font-size: $iconFontSize;
            cursor: pointer;
            margin: 0 1em 0 2em;
            padding: 8px;
            border-radius: 5px;
        }

        :nth-child(2){
            position: absolute;
            visibility: hidden;
            color: white;
            background-color: $hoverColor1;
            padding: 8px;
            font-size: 1.3em;
            left: 100%;
            width: 90px;
        }

        :nth-child(2):after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 100%; /* To the left of the tooltip */
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent $hoverColor1 transparent transparent;
          }

    }

    .wrapper-fa-bars:hover{
        :nth-child(1){
            background-color: $hoverColor1;
        }
        
        :nth-child(2){
            
            transition-delay: 2s;
            visibility: visible;
        }
    }



    .logged-In {
        flex-basis: 80%;
        justify-content: flex-end;
        align-items: center;

        :nth-child(n){
            color: white;
            font-size: 1.7em;
            margin-right: 5px;
        }
        :nth-child(4){
            width: 2px;
            background-color: white;
            height: 2em;
        }

        :nth-child(7){
            width: 2px;
            background-color: white;
            height: 2em;
        }

        
    }

    .logout{
        flex-basis: 5%;
        align-items: center;
        justify-content: center;
        :nth-child(1){
            color: white;
            font-size: 3em;
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;
        }
        :nth-child(1):hover{
           background-color: #D32F2F;
        }
    }
}

.sideBar{
    grid-area: sb;

    // layout
    display: block;
    background: $gradientColor1;
    height: 100%;
    width: 100%;
    .menu-title{
        color: white;
        font-size: 1.4em;
        margin: 20px 10px 20px 10px;
    }
    .navigation{
        :nth-child(1){
            display: block;
            li{
                width: 100%;
            }
            .active{
                background-color: $primaryColor1;
            }
            li:hover{
                background-color: $primaryColor1;
            }
            li > a{
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-auto-rows: 1fr;
                color: white;
                width: 100%;
                height: 100%;
                padding: 10px;
                cursor: pointer;
                background: transparent;
                border: none;
            }
            li > a > i{
                font-size: $iconFontSize;
                margin: 0 auto;
            }
            li > a > p{
                font-size: 1.7em;
                text-align: left;
            }
        }
    }
}

.main-content{
    grid-area: mc;

    // layout
    overflow-y: auto;
    overflow-x: auto;
    display: grid;
    grid-template-rows: 60px 3fr;
    .row-1{
        display: flex;
        align-items: center;
        .title-wrapper{
            flex-basis: 50%;
            :nth-child(1){
                margin: 1em;
                font-size: 3em;
                color: $primaryColor3;
            }
        }

        .date-container{
            flex-basis: 50%;
            display: flex;
            justify-content: flex-end;
            .wrapper{
                margin: 10px;
                :nth-child(n){
                    color: $primaryColor1;
                    font-size: 1.7em;
                }
                :nth-child(1){
                    margin-right: 5px;
                }
            }
        }
    }

    // START HERE
    .row-2{
        height: 100%;
        .container{
            display: grid;
            grid-template-rows: 8rem 13rem 1fr 8rem;
            border-top:solid 1px $primaryColor5;
            border-bottom:solid 1px $primaryColor5;
            .row-1{
                border-bottom: solid 1px $primaryColor5;
                :nth-child(1){
                    display: flex;
                    align-items: center;
                    :nth-child(1){
                        font-size: $iconFontSize;
                        margin-right: 1rem;
                        margin-left: 10px;
                    }
                    :nth-child(2){
                        font-size: 1.5rem;
                    }
                }
            }

            .row-2{
                display: flex;
                align-items: center;
                margin: 0 10px;
                
                .container-1{
                    flex-basis:15%;
                    :nth-child(n){
                        font-size:1.7rem;
                        margin-right: 5px;
                    }

                    #cmb-entries{
                        border: solid 1px $primaryColor5;
                        padding: 5px;
                        cursor: pointer;
                    }
                    
                }
                .container-2{
                    flex-basis: 35%;
                    display: flex;
                    :nth-child(n){
                       padding: 5px;
                       width: 100%;
                       max-width: 200px;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       margin-right: 1rem;
                       font-size: 1.7rem;
                       border: solid 1px $primaryColor1;
                       border-radius: 12px;
                        color: $primaryColor1;
                        transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

                        :nth-child(1){
                            flex-basis: 5%;
                            font-size: 20px;
                            border:none;
                        }
                    }

                    :nth-child(n):hover{
                        background-color: $primaryColor1;
                        color: white;
                        cursor: pointer;
                        :nth-child(1){
                            color: white;
                        }
                    }

                }
                .container-3{
                    flex-basis:50%;
                    display:flex;
                    justify-content:flex-end;
                    .search-wrapper{
                        background-color: white;
                        display: flex;
                        align-items:center;
                        flex-wrap: nowrap;
                        width: 80%;
                        padding: 5px;
                        border: solid 1px $primaryColor5;
                        :nth-child(1){
                            font-size: $iconFontSize;
                            padding: 5px;
                            color: $primaryColor4;
                            margin-right: 5px;
                        }
                        :nth-child(2){
                            border:none;
                            font-size: 1.7rem;
                            padding: 5px;
                            width: 100%;
                        }

                        :placeholder-shown{
                            font-style: italic;
                        }
                    }
                }
                
            }

            .row-3{
                
                margin: 0 10px;
                display: flex;
                justify-content: center;
                .wrapper{
                    height: auto;
                    background-color: white;
                    overflow-x: auto;
                    border-top-left-radius: 10px;
                    border-top-right-radius:10px ;
                    border: 1px solid $primaryColor2;
                    width: 100%;
                }
                .wrapper{
                    #table-product{
                        table-layout: auto;
                        border-collapse: collapse;
                        width: 100%;
                        text-align: center;
                    }

                    #table-product{
                        thead{
                            background-color: $primaryColor1;
                            height: 40px;
                            color: white;
                            th{
                                font-size: 1.7rem;
                                padding:5px;
                                margin: 10px;
                            }
                        }
                        tbody{
                            td{
                                font-size: 1.7rem;
                                padding: 10px 0;
                            }
                            
                            tr{
                                border-bottom: solid 1px $primaryColor1;
                                #edit_btn{
                                    font-size: 20px;
                                    color: $primaryColor1;
                                    margin: 0 5px;
                                }

                                #delete_btn{
                                    font-size: 20px;
                                    color: $primaryColor8;
                                }
                            }

                            tr:hover{
                                background-color: $primaryColor5;
                            }
                        }
                    }
                }
            }

            .row-4{
                display: flex;
                align-items: center;
                margin: 0 10px;

                .item-1{
                    flex-basis: 50%;
                    :nth-child(n){
                        font-size: 1.7rem;
                    }
                }

                .item-2{
                    flex-basis: 50%;
                    #pagination{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        
                        :nth-child(1){
                            font-size: 1.7rem;
                            height: 32px;
                            margin: 0 3px;
                            padding: 5px;
                            border: none;
                            color: $primaryColor1;
                            cursor: pointer;
                        }
                        :nth-child(2){
                            font-size: 1.7rem;
                            height: 32px;
                            margin: 0 3px;
                            padding: 5px;
                            border: none;
                            color: $primaryColor1;
                            cursor: pointer;
                        }
                        .page-numbers{

                            :nth-child(n){
                                min-width: 32px;
                                height: 32px;
                                font-size: 1.7rem;
                                padding:5px;
                                border:none;
                                color:$primaryColor1;
                                cursor: pointer;
                            }
                            :nth-child(n):hover{
                                background-color: $hoverColor1;
                                color:white;
                            }

                            .active{
                                background-color: $hoverColor1;
                                color: white;
                            }
                        }
                        :nth-child(4){
                            font-size: 1.7rem;
                            height: 32px;
                            margin: 0 3px;
                            padding: 5px;
                            border: none;
                            color: $primaryColor1;
                            cursor: pointer;
                        }
                        :nth-child(5){
                            font-size: 1.7rem;
                            height: 32px;
                            margin: 0 3px;
                            padding: 5px;
                            border: none;
                            color: $primaryColor1;
                            cursor: pointer;
                        }

                    }
                   
                }
                
            }

        }
        
    }

    // MODALS
    .insert-modal{
        width: 100%;
        max-width: 600px;
        margin: 13rem auto;

        border-top: solid 6px $primaryColor1;
        animation: modal_animation 0.4s;
        border: none;
        box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.2), -1px -1px 5px 5px rgba(0,0,0,0.2);
        form{
            width:100%;
            height: auto;
            display: flex;
            flex-direction: column;
            .row-1{
                p{
                    font-size: 3rem;
                    margin: 2rem auto;
                }
            }
            .row-2{
                display: grid;
                grid-template-columns: 0.2fr 1fr;
                margin: 2rem;
                :nth-child(n){
                    font-size: 1.7rem;
                    padding: 3px 0;
                    margin: 0.3rem 0;
                    outline-color: $hoverColor1;
                }

                .form-group-fields{
                    border: solid 1px $primaryColor3;
                    
                }

                .form-group-fields::placeholder{
                    color: red;
                }
            }

            .row-3{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2rem;
                :nth-child(n){
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    font-size: 1.7rem;
                    color: white;
                    cursor: pointer;
                    width:100%;
                    max-width: 150px;
                    margin: 0 1rem;
                }
                :nth-child(1){
                    background-color: $primaryColor8;
                }
                :nth-child(2){
                    background-color: $primaryColor1;
                }
            }
            

            .insert_success{
                background-color: #69F0AE;
                border: solid 1px #00E676;
                font-size: 1.7rem;
                text-align: center;
                padding: 10px;
                margin: 1rem;
                display: none;
                animation: insert_success_animation 300ms linear;
            }
        }
    }

    
    .insert-modal::backdrop{
        background: rgba(0,0,0,0.5);
    }

    
}

.footer{
    grid-area: foo;

    // Layout
    display: flex;
    background-color: $primaryColor1;

    .copyright{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 10px;
        :nth-child(n){
            margin-right: 5px;
        }

        svg{
            fill: white;
            width: 15px;
            height: auto;
        }

        p{
            color: white;
            font-size: 1.3em;
        }
    }


    .time-container{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 5px;
        :nth-child(n){
            color: white;
            font-size: 1.7em;
            margin-right: 5px;
        }
    }
}



// KEYFRAMES
@keyframes insert_success_animation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes showSideBar {
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 100%;
        opacity: 100%;
    }
}

@keyframes hideSideBar {
    from{
        width: 100%;
        opacity: 100%;
    }
    to{
        width: 0;
        opacity: 0;
    }
}

@keyframes hideSideBarGridTemplate {
    from{
        grid-template-columns: .5fr 2fr;
    }

    to{
        grid-template-columns: 0 1fr;
    }
}

@keyframes showSideBarGridTemplate {
    from{
        grid-template-columns: 0 1fr;
    }

    to{
        grid-template-columns: .5fr 2fr;
    }
}

@keyframes modal_animation {
    from{
        opacity: 0;
        top: -10rem;
    }

    to{
        opacity: 1;
        top: 0;
    }
}