* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  text-decoration: none;
}

.main {
  background-color: #F5F5F5;
  height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr;
      grid-template-columns: 0.5fr 2fr;
  -ms-grid-rows: 0.5fr 5fr 0.5fr;
      grid-template-rows: 0.5fr 5fr 0.5fr;
      grid-template-areas: "hd hd"  "sb mc" "sb foo";
}

body {
  height: 100vh;
  overflow: hidden;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1565c0;
}

.header :nth-child(n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .system-logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .system-logo svg {
  fill: white;
  width: 100%;
  height: 5em;
}

.header .wrapper-fa-bars {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .wrapper-fa-bars :nth-child(1) {
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin: 0 1em 0 2em;
  padding: 8px;
  border-radius: 5px;
}

.header .wrapper-fa-bars :nth-child(2) {
  position: absolute;
  visibility: hidden;
  color: white;
  background-color: #0D47A1;
  padding: 8px;
  font-size: 1.3em;
  left: 100%;
  width: 90px;
}

.header .wrapper-fa-bars :nth-child(2):after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #0D47A1 transparent transparent;
}

.header .wrapper-fa-bars:hover :nth-child(1) {
  background-color: #0D47A1;
}

.header .wrapper-fa-bars:hover :nth-child(2) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  visibility: visible;
}

.header .logged-In {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logged-In :nth-child(n) {
  color: white;
  font-size: 1.7em;
  margin-right: 5px;
}

.header .logged-In :nth-child(4) {
  width: 2px;
  background-color: white;
  height: 2em;
}

.header .logged-In :nth-child(7) {
  width: 2px;
  background-color: white;
  height: 2em;
}

.header .logout {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .logout :nth-child(1) {
  color: white;
  font-size: 3em;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.header .logout :nth-child(1):hover {
  background-color: #D32F2F;
}

.sideBar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sb;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#3D84CD), to(#AAD8F1));
  background: linear-gradient(180deg, #3D84CD 0%, #AAD8F1 100%);
  height: 100%;
  width: 100%;
}

.sideBar .menu-title {
  color: white;
  font-size: 1.4em;
  margin: 20px 10px 20px 10px;
}

.sideBar .navigation :nth-child(1) {
  display: block;
}

.sideBar .navigation :nth-child(1) li {
  width: 100%;
}

.sideBar .navigation :nth-child(1) .active {
  background-color: #1565c0;
}

.sideBar .navigation :nth-child(1) li:hover {
  background-color: #1565c0;
}

.sideBar .navigation :nth-child(1) li > a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-auto-rows: 1fr;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.sideBar .navigation :nth-child(1) li > a > i {
  font-size: 15px;
  margin: 0 auto;
}

.sideBar .navigation :nth-child(1) li > a > p {
  font-size: 1.7em;
  text-align: left;
}

.main-content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: mc;
  overflow-y: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
}

.main-content .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .row-1 .title-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-content .row-1 .title-wrapper :nth-child(1) {
  margin: 1em;
  font-size: 3em;
  color: #78909C;
}

.main-content .row-1 .date-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content .row-1 .date-container .wrapper {
  margin: 10px;
}

.main-content .row-1 .date-container .wrapper :nth-child(n) {
  color: #1565c0;
  font-size: 1.7em;
}

.main-content .row-1 .date-container .wrapper :nth-child(1) {
  margin-right: 5px;
}

.main-content .row-2 {
  height: 100%;
}

.main-content .row-2 .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem 8rem 1fr 8rem;
      grid-template-rows: 8rem 8rem 1fr 8rem;
}

.main-content .row-2 .container .row-1 {
  border: solid 1px black;
  width: 100%;
}

.main-content .row-2 .container .row-1 :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

.main-content .row-2 .container .row-1 :nth-child(1) :nth-child(1) {
  font-size: 15px;
  margin-right: 1rem;
}

.main-content .row-2 .container .row-1 :nth-child(1) :nth-child(2) {
  font-size: 1.5rem;
}

.main-content .row-2 .container .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.main-content .row-2 .container .row-2 :nth-child(1) {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .row-2 .container .row-2 :nth-child(1) :nth-child(1) {
  width: 100%;
  max-width: 150px;
  padding: 5px;
  font-size: 1.7rem;
}

.main-content .row-2 .container .row-2 :nth-child(1) :nth-child(2) {
  width: 100%;
  max-width: 80px;
  min-width: 50px;
  padding: 5px;
  font-size: 1.7rem;
}

.main-content .row-2 .container .row-2 :nth-child(1) :nth-child(2) :nth-child(n) {
  font-size: 1.7rem;
}

.main-content .row-2 .container .row-2 :nth-child(2) {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content .row-2 .container .row-2 :nth-child(2) .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #78909C;
  width: 100%;
  background-color: white;
}

.main-content .row-2 .container .row-2 :nth-child(2) .search-wrapper :nth-child(1) {
  width: 100%;
  max-width: 10%;
  margin: 0 3px;
  font-size: 20px;
  padding: 5px;
  color: #78909C;
}

.main-content .row-2 .container .row-2 :nth-child(2) .search-wrapper :nth-child(2) {
  width: 100%;
  max-width: 90%;
  border: none;
  outline-color: #1565c0;
  font-size: 1.7rem;
  padding: 5px;
  margin: 3px;
}

.main-content .row-2 .container .row-2 :nth-child(2) .search-wrapper :placeholder-shown {
  font-style: italic;
}

.main-content .row-2 .container .row-3 {
  border: solid 1px black;
  margin: 0 10px;
}

.main-content .row-2 .container .row-3 .wrapper {
  border: solid 1px black;
  height: 400px;
}

.main-content .row-2 .container .row-3 .wrapper #table-product {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.main-content .row-2 .container .row-3 .wrapper #table-product thead {
  background-color: #1565c0;
  height: 50px;
  color: white;
}

.main-content .row-2 .container .row-3 .wrapper #table-product thead {
  background-color: #1565c0;
  height: 30px;
}

.main-content .row-2 .container .row-3 .wrapper #table-product thead th {
  font-size: 1.7rem;
}

.main-content .row-2 .container .row-3 .wrapper #table-product tbody td {
  font-size: 1.7rem;
  padding: 5px;
}

.main-content .row-2 .container .row-3 .wrapper #table-product tbody tr {
  border-bottom: solid 1px #78909C;
}

.main-content .row-2 .container .row-3 .wrapper #table-product tbody tr:hover {
  background-color: #CFD8DC;
}

.main-content .row-2 .container .row-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.main-content .row-2 .container .row-4 :nth-child(1) {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.main-content .row-2 .container .row-4 :nth-child(1) :nth-child(1) {
  font-size: 1.7rem;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.main-content .row-2 .container .row-4 :nth-child(1) :nth-child(2) {
  font-size: 1.7rem;
  -ms-flex-preferred-size: 7%;
      flex-basis: 7%;
}

.main-content .row-2 .container .row-4 :nth-child(1) :nth-child(3) {
  font-size: 1.7rem;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.main-content .row-2 .container .row-4 :nth-child(1) :nth-child(4) {
  font-size: 1.7rem;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.main-content .row-2 .container .row-4 :nth-child(1) :nth-child(5) {
  font-size: 1.7rem;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.main-content .row-2 .container .row-4 :nth-child(2) {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.main-content .row-2 .container .row-4 :nth-child(2) :nth-child(1) :nth-child(n) {
  min-width: 32px;
}

.main-content .row-2 .container .row-4 :nth-child(2) :nth-child(2) {
  display: inline;
}

.main-content .row-2 .container .row-4 :nth-child(2) :nth-child(2) :nth-child(n) {
  min-width: 32px;
  position: relative;
  float: left;
  height: 32px;
  text-align: center;
}

.main-content .row-2 .container .row-4 :nth-child(2) :nth-child(3) {
  display: inline-block;
}

.main-content .row-2 .container .row-4 :nth-child(2) :nth-child(3) :nth-child(n) {
  min-width: 32px;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: foo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1565c0;
}

.footer .copyright {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin: 10px;
}

.footer .copyright :nth-child(n) {
  margin-right: 5px;
}

.footer .copyright svg {
  fill: white;
  width: 15px;
  height: auto;
}

.footer .copyright p {
  color: white;
  font-size: 1.3em;
}

.footer .time-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
}

.footer .time-container :nth-child(n) {
  color: white;
  font-size: 1.7em;
  margin-right: 5px;
}

@-webkit-keyframes showSideBar {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 100%;
  }
}

@keyframes showSideBar {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 100%;
  }
}

@-webkit-keyframes hideSideBar {
  from {
    width: 100%;
    opacity: 100%;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

@keyframes hideSideBar {
  from {
    width: 100%;
    opacity: 100%;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes hideSideBarGridTemplate {
  from {
    grid-template-columns: .5fr 2fr;
  }
  to {
    grid-template-columns: 0 1fr;
  }
}

@keyframes hideSideBarGridTemplate {
  from {
    -ms-grid-columns: .5fr 2fr;
        grid-template-columns: .5fr 2fr;
  }
  to {
    -ms-grid-columns: 0 1fr;
        grid-template-columns: 0 1fr;
  }
}

@-webkit-keyframes showSideBarGridTemplate {
  from {
    grid-template-columns: 0 1fr;
  }
  to {
    grid-template-columns: .5fr 2fr;
  }
}

@keyframes showSideBarGridTemplate {
  from {
    -ms-grid-columns: 0 1fr;
        grid-template-columns: 0 1fr;
  }
  to {
    -ms-grid-columns: .5fr 2fr;
        grid-template-columns: .5fr 2fr;
  }
}
/*# sourceMappingURL=product.css.map */